
<nav>
  <ul class="pager">
    {% if prev %}
    <li>
      <a href="/post/{% if post.slug %}{{post.slug}}{%else%}{{id}}{%endif%}/?pages={{ page - 1 }}" aria-label="Previous">
        <span aria-hidden="true">&larr;</span>Previous
      </a>
    </li>
    {%endif%}
    
    {% if next  %}
    <li>
      <a href="/post/{% if post.slug %}{{post.slug}}{%else%}{{id}}{%endif%}/?pages={{ page + 1 }}" aria-label="Next">
        Next<span aria-hidden="true">&rarr;</span>
      </a>
    </li>
    {% endif %}
  </ul>
</nav>